html, body{
    height: 100%;
    width: 100%;
    font-family: 'Bree Serif', serif;
    display: flex;
    flex-direction: column;
}

.container{
    height: 100%;
    width: 100%;
    
}

img.companyLogo{
    width: 128px;
    float: right;
}

.col-9 {
    border-radius: 5px;
}

.companyNews{
    width: 100%;

}

#addButton{
    position: absolute;
    right:-35px;
    bottom:15px;

}

.news {
    height: 100px;
}

.companySummary {
    height: 100px;
}

