html, body{
    height: 100%;
    width: 100%;
    font-family: 'Bree Serif', serif;

}

.container{
    height: 100%;
    width: 100%;
    
}

.maketall{
    height:100%;
}

img.companyLogo{
    width: 128px;
    float: right;
}

.col-9{
    border-radius: 5px;
}